.root{
    -fx-background-color: linear-gradient(from 10px 10px to 400px 400px, #3D353C, #68687d);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

.check-box{
    -fx-text-fill: #71baf8;
}

.label{
    -fx-text-fill: #71baf8;
    -fx-font-size: 24px;
}

.list-view{
    -fx-font-size: 14px;
}

.button{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.combo-box{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}